.pagination {
  display: flex;
  height: 26px;

  div {
    background-color: #eeeeee;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .first {
    width: 46px;
  }

  .previous {
    width: 26px;
    margin: 0 8px;
  }

  .number {
    width: 122px;
  }

  .next {
    width: 26px;
    margin: 0 8px;
  }

  .last {
    width: 46px;
  }
}
