@import 'assets/css/variables.scss';

.token-wrapper {
  min-height: calc(100vh - 211px - $MENU-HEIGHT);
  background: $background-wrapper;
  overflow: hidden;

  .token-heading {
    display: block;
    justify-content: space-between;
    align-items: center;

    padding-top: 12px;
    padding-bottom: 12px;

    @include media-up(md) {
      display: flex;
    }

    h1 {
      color: $black-color;
      font-size: 21px;

      img {
        width: 28px;
        margin-right: 4px;
      }

      span {
        color: $text;
        font-size: 16.8px;
        margin-left: 4px;
      }
    }

    div {
      margin-bottom: 0;

      button {
        color: $secondary;
        border-radius: 6px;
        font-size: 11.2px;
        font-weight: 700;
        padding: 4.8px 9.6px;
        background: $primary;
        &:hover {
          background-color: $primary;
          border-color: $primary;
        }
        &:focus {
          border-color: $primary;
          box-shadow: 0 4px 11px $color-shadow-account;
        }
        &:active {
          background-color: $primary-bg-hover;
          border-color: $primary-border-hover;
        }
        svg {
          font-weight: bold;
          font-size: 6px;
        }
      }
    }
  }

  .token-main {
    padding-top: 20px;
    padding-bottom: 50px;

    .main-top {
      padding: 0 0 20px;

      .main-top-left {
        color: $black-color;

        .main-top-left-header {
          color: $text-header;
          font-weight: 700;
          padding: 12px;
          border-bottom: 0.5px solid $border-color;

          span {
            margin-right: 4px;
            border-radius: 4px;
            font-size: 11px;
            padding: 4px 8px;
            background: $background-span;
          }
        }

        .main-top-left-body {
          padding: 0 12px;
          .main-top-left-body-item {
            padding: 12px 0;
            border-bottom: 0.5px solid $border-color;

            .ant-row {
              display: flex;
              flex-wrap: wrap;

              @include media-up(md) {
                flex-wrap: nowrap;
              }
            }
          }
        }
      }

      .main-top-right {
        color: $black-color;
        margin-top: 10px;

        @media only screen and (min-width: 576px) {
          margin-top: 0;
        }

        .main-top-right-header {
          font-weight: 700;
          padding: 12px;
          border-bottom: 0.5px solid $border-color;
          display: flex;
          justify-content: space-between;

          .header-left {
            color: $text-header;
          }
          .header-right {
            .anticon-meh {
              margin: 0 4px;
              color: $primary;
              background: $background-color-padding;
              border-color: transparent;
              width: 21px;
              height: 21px;
              border-radius: 4px;
              cursor: pointer;

              svg {
                width: 11px;
                height: 11px;
                margin-top: 5px;
              }

              &:hover {
                color: $secondary;
                background: $primary;
                box-shadow: 0 4px 11px $color-shadow-account;
              }
            }

            .anticon-check {
              margin: 0 4px;
              color: $color-padding;
              background: $background-color-badge;
              border-color: transparent;
              width: 21px;
              height: 21px;
              border-radius: 4px;
              cursor: pointer;

              svg {
                width: 11px;
                height: 11px;
                margin-top: 5px;
              }

              &:hover {
                color: $secondary;
                background: $color-padding;
                box-shadow: 0 4px 11px $background-item;
              }
            }

            .anticon-more {
              color: $text;
              background: $background-color-badge;
              border-color: transparent;
              cursor: pointer;
              width: 21px;
              height: 21px;
              border-radius: 4px;

              svg {
                width: 11px;
                height: 11px;
                margin-top: 5px;
              }

              &:hover {
                color: $secondary;
                background: $text-span;
                box-shadow: 0 4px 11px rgb(119 131 143 / 35%);
              }
            }
          }
        }

        .main-top-right-body-to {
          padding: 0 12px;
          .main-top-right-body-item-to {
            color: $black-color;
            padding: 12px 0;
            border-bottom: 0.5px solid $border-color;

            .main-top-right-body-item-flex {
              display: flex;
              align-items: center;

              div {
                margin-right: 4px;
              }
            }

            .ant-row {
              display: flex;
              flex-wrap: wrap;
              @include media-up(md) {
                flex-wrap: nowrap;
              }
            }

            .address-copy {
              display: flex;
              flex-direction: row;
              .main-top-right-contract-link {
                max-width: 171px;
                display: inline-block;
                vertical-align: bottom;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-decoration: none;
                color: $primary;
                background-color: transparent;
              }
              .contract-link {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-right: 4px;
                color: $primary;
                word-wrap: break-word;
                display: inline-block;
                vertical-align: bottom;
              }
              .contract-link-copy {
                display: none;
                color: $primary;

                svg {
                  path {
                    fill: $text;
                  }
                }
              }
              &:hover .contract-link-copy {
                display: flex;
                align-items: center;
              }
            }
            .contract-update {
              color: $primary;
            }
          }
        }
      }
    }

    .token-main-center {
      padding: 0 15px;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 20px;

      @media only screen and (min-width: 576px) {
        // padding: 0 45px;
        width: 100%;
      }
    }

    .token-main-under {
      // margin: 0 15px;
      background: $secondary;
      border: 0.5px solid $border-color;
      border-radius: 4px;
      box-shadow: $color-shadow;

      @media only screen and (min-width: 576px) {
        // margin: 0 45px;
      }
      .ant-tabs-nav-wrap {
        padding-left: 15px;
      }
      .ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          font-weight: 700;
          color: $primary;
        }
      }
      .ant-tabs-tab {
        font-weight: 700;
        &:hover {
          color: $primary;
        }
      }
      .ant-tabs-ink-bar {
        background: $primary;
      }
      // .ant-tabs-nav {
      //   margin-bottom: 0;
      //   padding: 0 15px;

      //   .ant-tabs-tab {
      //     .ant-tabs-tab-btn {
      //       font-weight: 700;
      //       color: $text;
      //       margin-left: 4px;

      //       &:active {
      //         color: #16a637;
      //       }
      //     }
      //   }
      // }

      .ant-tabs-nav {
        .ant-tabs-extra-content {
          .btn-more-transaction {
            background: transparent;
            border: none;
            box-shadow: none;

            span {
              background-color: $primary;
              border-color: $primary;
              cursor: pointer;
              width: 28px;
              height: 28px;
              border-radius: 4px;

              &:hover {
                background-color: #6b25e0;
                border-color: $primary-bg-hover;
                box-shadow: 0 4px 11px rgb(130 71 229 / 35%);

                path {
                  fill: $secondary;
                }
              }

              svg {
                width: 14px;
                height: 14px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                path {
                  fill: $secondary;
                  stroke-width: 12px;
                }
              }
            }
          }
        }
      }

      // .ant-tabs-nav-wrap {
      //   position: relative;
      // }

      .token-main-under-card {
        // display: none;
        .card-content-text {
          display: flex;
          justify-content: space-between;
          color: $text;
          padding: 10px 15px;

          .card-content-text-text {
            span {
              font-size: 11px;
              display: block;
            }
          }
        }

        .card-content-text-holder {
          padding: 15px;

          a {
            color: $primary;
            font-size: 11px;
            padding: 5px 10px;
            background: rgba(130, 71, 229, 0.1);
            border-color: transparent;
            border-radius: 4px;
            margin-bottom: 4px;

            svg {
              margin-right: 4px;

              path {
                font-weight: bold;
              }
            }
          }

          .card-content-text-holder-span {
            display: block;
            margin-top: 8px;
            color: $text;
          }
        }

        .card-content-table {
          &::-webkit-scrollbar {
            height: 2px;
          }

          overflow-x: auto;

          .method-title {
            display: flex;
            align-items: center;
            span {
              margin-left: 4px;
            }
          }

          .data-txnHash {
            color: $primary;
          }

          .data-block {
            color: $primary;
          }

          .data-txn {
            width: 50px;
            color: $primary;
          }

          .data-to {
            span {
              width: 21px;
              height: 21px;
              border-radius: 50%;
              padding: 4px;
              margin-right: 10px;
              background: rgba(0, 201, 167, 0.1);
              border-color: transparent;
              position: relative;

              svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 10px;

                path {
                  fill: #00c9a7;
                }
              }
            }
          }

          .data-validator {
            color: $primary;
            max-width: 171px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            vertical-align: bottom;
          }

          .data-percentage {
            .ant-progress-line {
              .ant-progress-bg {
                height: 2px !important;
                background-color: $primary;
              }

              .ant-progress-text {
                display: none;
              }
            }
          }

          .data-tokenId {
            color: $primary;
          }

          .data-owner {
            color: $primary;
          }

          // .data-gasUse {
          //   font-size: 14px;

          //   .data-gasUse-span {
          //     font-size: 11px;
          //     color: $text;
          //   }
          // .ant-progress-line {
          //   .ant-progress-bg {
          //     height: 2px !important;
          //     background-color: $primary;
          //   }

          //   .ant-progress-text {
          //     display: none;
          //   }
          // }
          // }

          .data-burntfees {
            .data-burntfees-span {
              font-size: 11px;
              color: $text;
            }

            .ant-progress-line {
              .ant-progress-bg {
                height: 2px !important;
                background-color: $primary;
              }

              .ant-progress-text {
                display: none;
              }
            }
          }

          .ant-pagination {
            margin-right: 10px;

            .ant-pagination-item-link {
              border: none;
              background: rgba(130, 71, 229, 0.1);

              .ant-pagination-item-container {
                .ant-pagination-item-link-icon {
                  path {
                    fill: $primary;
                  }
                }
              }
            }

            .ant-pagination-item {
              border: none;

              a {
                background: rgba(130, 71, 229, 0.1);
                color: $text;
              }

              &:hover {
                background: $primary;

                a {
                  color: $secondary;
                }
              }
            }

            .ant-pagination-prev {
              &:hover {
                border: none;
                background: $primary;

                .ant-pagination-item-link {
                  color: $secondary;
                }
              }
            }

            .ant-pagination-next {
              border: none;
              outline: none;

              &:hover {
                border: none;
                background: $primary;

                .ant-pagination-item-link {
                  color: $secondary;
                  border: none;
                }
              }
            }

            .ant-pagination-options-size-changer {
              .ant-select-selector {
                border: none;
                background: rgba(130, 71, 229, 0.1);

                &:hover {
                  background-color: $primary;
                  color: $secondary;
                  // font-weight: 700;
                }
              }

              &:hover {
                path {
                  fill: $secondary;
                  // font-weight: 700;
                }
              }

              &:focus {
                border: none;
              }
            }
          }
        }

        .info-update {
          padding: 15px;

          .info-update-link {
            color: $primary;
          }
        }

        .card-content-footer {
          .content-footer-text {
            margin: 15px;
            text-align: right;

            .content-footer-text-right {
              font-size: 11.2px;

              a {
                color: $primary;
                margin-left: 4px;
                font-weight: 600;
              }
            }
          }
        }

        .ant-table-cell {
          vertical-align: top;
        }
      }

      .paneContract {
        .paneContract-div {
          display: flex;
          border: 1px solid $border-color;

          .paneContract-none {
            display: none;

            @media only screen and (min-width: 576px) {
              display: block;
            }
          }
        }

        padding: 12px;
        min-height: 697px;

        .ant-tabs-nav {
          margin-bottom: 12px;

          &::before {
            border: none;
          }

          .ant-tabs-tab {
            border: none;
            background: transparent;
            margin-left: -20px;

            div {
              font-weight: 200;
              padding: 4px 8px;
              border-radius: 4px;
              color: $text;
              background: $secondary;

              // border: 1px solid $border-color;
              &:hover {
                color: $primary;
              }

              &:active {
                color: $secondary !important;
                background: $text-span !important;
              }
            }
          }
        }

        .ant-tabs-content-holder {
          .paneContract-read {
            font-size: 13px;
            padding: 15px;
            background: #fff3cd;

            a {
              color: #1d6fa5;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .paneContract-content {
            display: none;
          }
        }

        .ant-tabs-nav-operations {
          display: none;
        }
      }
    }

    .analytics-div {
      padding: 20px 0;
    }

    .comments-div {
      padding: 10px;
      color: $black-color;
    }
  }

  .ant-dropdown-menu {
    width: 220px !important;

    .ant-dropdown-menu-item {
      border: none !important;

      a {
        display: flex;
        align-items: center;
        font-size: 12.25px;
        // padding: 6px 24px;
        color: $text;

        sup {
          margin-left: 4px;
          color: $secondary;
          background: $text;
          padding: 2px 4px;
          border-radius: 4px;
        }
      }
    }
  }

  .ant-dropdown-menu {
    width: 220px !important;

    .ant-dropdown-menu-item {
      border: none !important;

      a {
        // display: flex;
        // align-items: center;
        font-size: 12.25px;
        // padding: 6px 24px;
        color: $text;

        svg {
          width: 12px;
          height: 12px;
          margin-right: 4px !important;

          path {
            fill: $text;
          }
        }

        &:hover {
          color: $primary;

          svg {
            width: 12px;
            height: 12px;
            margin-right: 4px !important;

            path {
              fill: $primary;
            }
          }
        }
      }
    }
  }

  .modal-search-event {
    padding: 10px;
    background: $secondary;
    border-radius: 4px;
  }
}

.ant-dropdown-placement-bottomLeft {
  .ant-dropdown-menu-with-button {
    padding: 8px;

    .ant-input-group-addon {
      padding: 0px !important;

      .ant-dropdown-menu-button {
        background: $primary;
        border-color: $primary;
        box-shadow: 0 4px 11px rgb(130 71 229 / 35%);
      }
      .ant-btn-primary {
        background: $primary;
        border-color: $primary;
        box-shadow: 0 4px 11px rgb(130 71 229 / 35%);
      }
    }

    .ant-input-affix-wrapper {
      &:hover {
        outline: none;
        border-color: $border-color;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.ant-dropdown-placement-bottomRight {
  .ant-dropdown-menu-with-button {
    padding: 8px;

    .ant-input-group-addon {
      padding: 0px !important;

      .ant-dropdown-menu-button {
        background: $primary;
        border-color: $primary;
        box-shadow: 0 4px 11px rgb(130 71 229 / 35%);
      }
      .ant-btn-primary {
        background: $primary;
        border-color: $primary;
        box-shadow: 0 4px 11px rgb(130 71 229 / 35%);
      }
    }

    .ant-input-affix-wrapper {
      &:hover {
        outline: none;
        border-color: $border-color;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}
