$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 992px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet-small {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.nft-transfers-page {
  color: black;
  min-height: 80vh;
  display: flex;
  max-width: 1320px;
  margin: 24px auto 104px;
  width: 100%;
  flex-direction: column;
  padding: 0 15px;

  .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 31px;
      h1 {
        font-size: 24px;
        font-weight: bold;
        color: #3c3a3a;
        margin-right: 32px;
        height: 100%;
      }
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 26px;
        font-size: 14px;
        font-weight: 500;
        background-color: #eeeeee;
      }
    }
  }

  .content {
    border: 1px solid #000;
    border-radius: 12px;

    .top {
      display: flex;
      justify-content: space-between;
      padding: 16px 24px;
      position: relative;

      &:before {
        border-bottom: 1px solid #000;
        content: '';
        display: block;
        height: 1px;
        overflow: hidden;
        background: #000;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }

      h1 {
        font-size: 14px;
        font-weight: 700;
        line-height: 18.16px;
      }

      .icon {
        img {
          float: right;
          width: 24px;
          height: 24px;
        }
      }
    }

    .middle {
      display: flex;
      height: 44px;
      width: 100%;
      justify-content: space-between;
      margin: 16px 0;
      padding: 0 24px;

      @include tablet {
        justify-content: center;
      }

      @include tablet-small {
        justify-content: center;
      }

      @include mobile {
        justify-content: center;
      }

      .description {
        h2 {
          font-size: 14px;
          font-weight: 500;
        }

        @include tablet {
          display: none;
        }

        @include tablet-small {
          display: none;
        }

        @include mobile {
          display: none;
        }

        p {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    .horizontal-scroll {
      width: 100%;

      @include tablet {
        overflow: hidden;
        overflow-x: auto;
        clear: both;
      }

      @include tablet-small {
        overflow: hidden;
        overflow-x: auto;
        clear: both;
      }

      @include mobile {
        overflow: hidden;
        overflow-x: auto;
        clear: both;
      }

      .table {
        max-width: 1242px;
        width: 100%;
        margin: 0 24px;
        text-align: left;
        padding: 0 8px;

        @include desktop {
          width: 96.2%;
        }

        @include tablet {
          width: 94.8%;
        }

        @include tablet-small {
          width: 94.8%;
        }

        th {
          background-color: #eeeeee;
          height: 50px;
          font-size: 14px;
          font-weight: bold;
        }

        th:nth-child(1) {
          padding: 0 24px 0 8px;
        }

        th:nth-child(2) {
          padding-left: 24px;
        }

        th:nth-child(3) {
          text-align: center;
          vertical-align: middle;
          padding-right: 115px;
          div {
            height: 18px;
            display: flex;
            align-items: center;
            padding-left: 37px;

            img {
              margin-right: 8px;
            }
          }
        }

        th:nth-child(4) {
          padding-left: 8px;
        }

        th:nth-child(6) {
          text-align: center;
          padding-right: 65px;
          padding-left: 37px;
        }

        th:nth-child(7) {
          padding-left: 8px;
          text-align: center;
        }
      }
    }

    .bottom {
      width: 100%;
      padding: 16px 24px 11px 24px;
      display: inline-block;

      @include tablet-small {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .left {
        float: left;
        display: flex;
        font-size: 14px;
        font-weight: 500;

        .numberPage {
          margin: 0 20px;
        }
      }

      .right {
        float: right;
      }
    }
  }
}
