.api_keys {
    &_title {
        display: flex;
        justify-content: space-between;

        .btn_add {
            width: 100px;
            padding: 0 24px;
            color: #ffffff;

            font-size: 16px;
            font-weight: 700;
            background-color: #418143;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            img {
                width: 16px;
            }
        }
    }

    &_content {
        margin: 0px 24px;
        &_top {
            margin-bottom: 24px;
            border-bottom: 1px solid #3c3a3a;

            &_username {
                background-color: #eeeeee;
                margin: 24px 0px;
                p {
                    font-size: 16px;
                    font-weight: 700;
                }

                &:nth-child(2) {
                    margin-top: 0;
                    padding: 8px 16px;

                    border-radius: 8px;
                    background-color: #eeeeee;

                    p {
                        font-size: 16px;
                    }
                }
                &:last-child {
                    margin-bottom: 24px;
                    border-radius: 8px;
                    background-color: #eeeeee;
                    img {
                        width: 16px;
                    }
                }
                p.center {
                    width: 100%;
                    padding: 8px 0px;
                    text-align: center;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }
        &_bottom {
            display: flex;
            justify-content: flex-end;
        }
        @media (min-width: 768px) {
            .search {
                text-align: right;
            }
        }
        @media (max-width: 767px) {
            .search {
                text-align: left;
            }
        }
    }
}
