@import 'assets/css/variables.scss';

.txs-wrapper {
  width: 100%;
  padding-bottom: 55px;
  min-height: calc(100vh - 150px - var(--menu-height));
  position: relative;
  background: var(--background-wrapper);

  .txs-heading {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--white);
    margin-bottom: 20px;

    h1 {
      color: var(--text);
      font-size: 21px;
      margin: 0;
    }

    div {
      .heading-network {
        color: var(--black-color);
        padding: 4px 12px;
        font-size: 12.25px;
        background: var(--background-span);
        border: 4px;
        margin-right: 4px;
        flex-wrap: wrap;
      }

      a {
        font-size: 11.2px;
        color: var(--black-color);
        background: #db9a041a;
        padding: 6px 11px;
        word-break: break-word;
      }
    }
  }

  .txs-desc {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;
  }

  .txs-bottom {
    max-width: 100%;
    background: var(--white);
    background-clip: border-box;
    border: 1px solid #e7eaf3;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%);
    overflow: hidden;

    .txs-card {
      padding: 20px;

      .card-body-header {
        margin-bottom: 20px;

        .txs-info {
          font-weight: 500;
        }

        p {
          font-size: 14px;
          color: var(--text);
        }
      }

      .card-body-center {
        overflow: auto;
        margin-bottom: 20px;

        .ant-table {
          padding: 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
        }

        .ant-table-pagination-right {
          justify-content: flex-start;

          @include media-up(md) {
            justify-content: flex-end;
          }
        }

        .ant-table-thead {
          .ant-table-cell {
            padding: 16px 10px;
            border-bottom: 1px solid var(--white);
            white-space: nowrap;
            background-color: var(--tertiary);
          }
        }

        .ant-table-tbody {
          .ant-table-cell {
            padding: 16px 10px;
            border-bottom: 1px solid var(--white);
            white-space: nowrap;

            .data-txnfee {
              display: flex;

              img {
                margin-left: 8px;
              }
            }
          }

          .data-block {
            color: var(--primary);
          }

          .data-txn {
            width: 50px;
            color: var(--primary);
          }

          .data-method {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #787A91;
            padding: 4px;
            min-width: 125px;
            text-align: center;
            background-color: var(--tertiary);
          }

          .data-txnHash {
            img {
              margin-right: 16px;
            }

            a {
              width: 100px;
            }
          }

          .data-to {
            img {
              margin-right: 16px;
            }
          }

          .data-validator {
            color: var(--primary);
            max-width: 171px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            vertical-align: bottom;
          }

          .data-to {
            span {
              width: 21px;
              height: 21px;
              border-radius: 50%;
              padding: 4px;
              margin-right: 10px;
              background: rgba(0, 201, 167, 0.1);
              border-color: transparent;
              position: relative;

              svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 10px;

                path {
                  fill: #00c9a7;
                }
              }
            }
          }

          .data-gasUse {
            font-size: 14px;

            .data-gasUse-span {
              font-size: 11px;
              color: var(--text);
            }

            .ant-progress-line {
              .ant-progress-bg {
                height: 2px !important;
                background-color: var(--primary);
              }

              .ant-progress-text {
                display: none;
              }
            }
          }

          .data-burntfees {
            .data-burntfees-span {
              font-size: 11px;
              color: var(--text);
            }

            .ant-progress-line {
              .ant-progress-bg {
                height: 2px !important;
                background-color: var(--primary);
              }

              .ant-progress-text {
                display: none;
              }
            }
          }
        }

        .ant-pagination-item-link {
          background: rgba(130, 71, 229, 0.1);

          .ant-pagination-item-container {
            .ant-pagination-item-link-icon {
              path {
                fill: var(--primary);
              }
            }
          }
        }

        .ant-pagination-item {
          border: none;

          a {
            background: rgba(130, 71, 229, 0.1);
            color: var(--text);
          }

          &:hover {
            background: var(--primary);

            a {
              color: var(--white);
            }
          }
        }

        .ant-pagination-prev {
          &:hover {
            border: none;
            background: var(--primary);

            .ant-pagination-item-link {
              color: var(--white);
            }
          }
        }

        .ant-pagination-next {
          &:hover {
            border: none;
            background: var(--primary);

            .ant-pagination-item-link {
              color: var(--white);
              border: none;
            }
          }
        }

        .ant-pagination-options-size-changer {
          .ant-select-selector {
            border: none;
            background: rgba(130, 71, 229, 0.1);

            &:hover {
              background-color: var(--primary);
              color: var(--white);
              // font-weight: 700;
            }
          }

          &:hover {
            path {
              fill: var(--white);
              // font-weight: 700;
            }
          }

          &:focus {
            border: none;
          }
        }
      }
    }
  }
}