@import 'assets/css/variables.scss';

.nav-block {
  padding: 0;
  background: var(--white);
  border-bottom: 0.5px solid #3c3a3a;

  .nav-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .nav-top {
      width: 100%;
      background: #262525;

      .nav-top-content {
        height: 104px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include media-down(md) {
          height: 72px;
        }
      }

      .nav-top-left {
        flex-direction: row;
        flex-flow: nowrap;

        .nav-logo {
          margin-right: 20px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          cursor: pointer;

          img {
            width: auto;
            height: 45px;
            object-fit: contain;

            @include media-down(md) {
              height: 32px;
            }
          }
        }
      }

      .nav-top-right {
        color: var(--primary);
        width: 100%;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: flex-end;

        @include media-down(sm) {
          width: fit-content;
        }

        .menu-collapse {
          display: block;

          @include media-up(md) {
            display: none;
          }
        }

        .nav-search-input {
          display: none;

          @include media-up(md) {
            display: block;
          }

          width: 100%;
          max-width: 748px;
          margin-left: auto;
        }
      }
    }

    .nav-search-input-mobile {
      display: block;

      @include media-up(md) {
        display: none;
      }

      width: 100%;
      padding: 8px;
      display: block;

      @include media-up(md) {
        display: none;
      }
    }
  }

  .nav-bottom {
    display: none;

    @include media-up(md) {
      display: flex;
    }

    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    .nav-bottom-left {
      padding: 4px 8px;
      background: #eeeeee;
      border-radius: 4px;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;

      img {
        margin-left: 15px;
        margin-right: 8px;
      }
    }

    .nav-bottom-right {
      display: flex;
      align-items: center;

      ul {
        list-style: none;
        margin-bottom: 0;

        @include media-up(md) {
          list-style: none;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: flex-end;
        }

        li {
          white-space: nowrap;
          height: 100%;
          padding: 16px 14px;
          display: block;

          a {
            color: var(--text);
            font-size: 16px;
            line-height: 21px;
            font-weight: 400;
            line-height: 160%;
            height: 100%;
            display: flex;
            align-items: center;

            .user-icon {
              transform: rotate(0deg);
            }

            >span {
              font-size: 18px;
              margin-left: 9px;
            }

            &.right-destop-logo {
              width: 28px;
              height: 28px;
              background: var(--background-color-padding);
              border-color: transparent;
              border-radius: 4px;
            }

            span {
              svg {
                width: 10px;
                height: 10px;
                fill: var(--color-header-fill);
              }
            }
          }

          a:hover {
            color: var(--primary);
            font-weight: 400;

            svg {
              fill: var(--primary);
            }
          }

          .active {
            color: var(--primary);
          }

          .submenu {
            display: none;
            position: absolute;
            margin-top: 16px;
            z-index: 199;
            min-width: 160px;
            min-height: fit-content;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            background-color: var(--white);
            border-top: 3px solid var(--primary);
            box-shadow: 0 8px 20px rgb(130 71 229 / 8%);

            .li-account {
              font-size: 12.95px;
              padding: 8px 28px;

              &.px-3 {
                border-color: transparent;
                text-align: center;
                margin: auto;
                padding: 10px;

                a {
                  color: var(--text);
                  background: var(--background-color-padding);
                  justify-content: center;
                  display: block;
                  padding: 4px 100px;
                  border-radius: 4px;
                  transition: all 0.2s ease-in-out;

                  &:hover {
                    color: var(--white);
                    background: var(--primary);
                    box-shadow: var(--color-shadow-account);
                  }
                }
              }

              .span-beta {
                padding: 2px 4px;
                background: var(--text-span);
                color: var(--white);
                margin-left: 4px;
                border-radius: 5px;
              }

              span {
                padding: 2px 4px;
                background: var(--green-stick);
                color: var(--white);
                margin-left: 4px;
                border-radius: 5px;
              }
            }

            .dropdown-divider {
              border-top: 0.2px solid var(--border-color);
              padding: 0;
            }
          }
        }

        li:hover {
          .submenu {
            display: block;
          }
        }

        .li-last_child {
          padding-right: 0;
          position: relative;
        }
      }

      .nav-account {
        margin-left: 14px;
      }
    }
  }
}