.overview_info {
    border-radius: 12px;
    border: 1px solid #3c3a3a;
    margin-bottom: 32px;
    padding-bottom: 24px;
    .overview_info_title {
        padding: 16px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
