.container {
  width: 100%;
  max-width: calc(1290px + 30px);
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hr-alt-01 {
  width: 100%;
  & > div {
    width: 100%;
    border-bottom: 0.5px solid $border-color;
  }
}
