.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

.hr-alt-01 {
  width: 100%;
  & > div {
    width: 100%;
    border-bottom: 0.5px solid $border-color;
  }
}
