@import 'assets/css/variables.scss';
@import 'assets/css/animation.scss';
@import 'assets/css/base-class.scss';
@import 'assets/css/customs-class.scss';
@import 'assets/css/card.scss';

* {
  font-family: Yantramanav;
  margin: 0;
  padding: 0;
}

:root {
  --menu-heihgt: 54px;

  --red: #de4437;
  --green: green;
  --orange: #b47d00;
  --orange-bg: #db9a0433;
  --green-stick: #00c9a7;
  --border-color: #e7eaf3;
  --border-table-color: #3c3a3a;
  --border-color-hover: #414768;
  --border-color-footer: 0.2px solid #e7eaf324;
  --border-dark: #1e004f;
  --primary: #418143;
  --primary-bg-hover: #651fda;
  --primary-border-hover: #601dcf;
  --secondary: #fff;
  --tertiary: #eeeeee;

  --text: #3c3a3a;
  --text-header: #4a4f55;
  --text-span: #77838f;

  --background-color: #3C3A3A;
  --background-wrapper: #f8f9fa;
  --background-color-dark: rgba(47, 50, 65, 0.5);
  --background-button-dard: rgba(119, 131, 143, 0.1);
  --background-card: #1e1f25;
  --background-color-badge: rgba(119, 131, 143, 0.1);
  --background-color-padding: rgba(130, 71, 229, 0.1);
  --background-color-padding-light: #3498db1a;
  --background-rgba: rgba(248, 249, 250, 0.4);
  --background-span: #77838f1a;
  --background-slogan: #77838f0d;
  --background-button-dark: hsla(0, 0%, 100%, 0.2);
  --background-item: rgba(52, 152, 219, 0.1);
  --background-item-hover: #3498db;

  --white-color: white;
  --black-color: #1e2022;
  --color-header-fill: rgba(93, 101, 136, 1);
  --color-padding: #3498db;
  --success: #31d0aa;
  --failure: #ed4b9e;
  --warning: #ff4d4f;

  --color-shadow: rgba(189, 197, 209, 20%);
  --color-shadow2: 0 4px 11px rgba(248, 249, 250, 35%);
  --color-shadow-account: 0 4px 11px rgba(130, 71, 229, 35%);
  --color-shadow-header-li: 0 8px 20px rgba(130, 71, 229, 8%);
}

*::after,
*::before {
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: --text;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #5e6588;
  border-radius: 10px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* prettier-ignore */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  color: --text;
  font-weight: 400;
}

#root {
  width: 100%;
  min-height: 100%;
  background-color: $secondary;
}

p {
  margin: 0;
  padding: 0;
}