@import "assets/css/variables.scss";
@import "assets/css/animation.scss";
@import "assets/css/base-class.scss";
@import "assets/css/customs-class.scss";
@import "assets/css/card.scss";

* {
  font-family: Yantramanav;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: $text;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #5e6588;
  border-radius: 10px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* prettier-ignore */
article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

body {
  color: $text;
  font-weight: 400;
}

#root {
  width: 100%;
  min-height: 100%;
  background-color: $secondary;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
