@import './Components/addressTop/style.scss';
@import './Components/adText/style.scss';
@import './Components/overviewCard/style.scss';
@import './Components/infoCard/style.scss';
@import './Components/addressTable/style.scss';
@import 'assets/css/variables.scss';
.addr-container {
    margin: 16px 75px 244px;
    //background-color: rgb(123, 179, 228);
    display: flex;
    flex-direction: column;
    .block-ovrview-info {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 24px;
        @media (max-width: 430px) {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        @include media-down(sm) {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
    .ad-img {
        img {
            width: 80%;
            height: 90px;
            margin: 24px 87.5px;
            @media (max-width: 768px) {
                width: 700px;
                height: 100px;
            }
            @media (min-width: 500px) and (max-width: 768px) {
                width: 80%;
                margin: 24px 61px;
            }
            @media (max-width: 430px) {
                width: 80%;
                margin: 24px 38px;
            }
            @include media-down(sm) {
                width: 80%;
                margin: 24px 38px;
            }
            @include media-down(xm) {
                margin: 24px 40px;
            }
        }
    }
    @media (min-width: 768px) {}
    @media (max-width: 430px) {
        margin: 16px 6px;
    }
    @include media-down(xm) {
        width: 370px;
        margin: 16px 2px;
    }
    @include media-down(sm) {
        margin: 16px 20px 144px;
    }
    .header-tbl {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5px;
        >span {
            font-weight: 700;
            font-size: 14px;
            line-height: 10px;
            //text-align: center;
            color: #3c3a3a;
            //margin-right: 5px;
        }
    }
}