@import 'assets/css/variables.scss';

.block-transfers-token {
  max-width: 821px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #000;

  td {
    padding: 16px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    @include media-down(lg) {
      margin: 0 8px;
    }
  }

  td:nth-child(1) {
    width: 16.5%;

    span {
      color: #418143;
      font-style: normal;
      font-weight: 500;
      text-align: center;

      img {
        width: 16px;
        height: 16px;
        margin: 0 8px 1px 0;
      }
    }
  }

  td:nth-child(2) {
    width: 18.2%;

    text-align: center;

    button {
      width: 126px;
      height: 26px;
      background: #eeeeee;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      font-weight: 500;
    }
  }

  td:nth-child(3) {
    width: 13.77%;
    text-align: center;
  }

  td:nth-child(4) {
    width: 16.5%;
    text-align: center;

    color: #418143;
  }

  td:nth-child(5) {
    width: 19.1%;
    text-align: center;

    span {
      color: #418143;
      text-align: center;
      align-items: center;

      img {
        width: 16px;
        height: 16px;
        margin: 0 8px 1px 0;
      }
    }
  }

  td:nth-child(6) {
    text-align: center;
    vertical-align: middle;
    span {
      color: #418143;
      font-weight: 500;
      img {
        width: 16px;
        height: 16px;
        margin: 0 8px 1px;
      }
    }
  }
}
