@import 'assets/css/variables.scss';

.address-container {
  background: #f8f9fa;
  min-height: calc(100vh - 211px - $MENU-HEIGHT);
  overflow: hidden;
  .transaction-heading {
    padding-top: 12px;
    padding-bottom: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .tx-detail-address {
      font-size: 18px;
      color: $text;

      display: flex;
      flex-flow: row wrap;
      align-items: center;
      @include media-up(md) {
        font-size: 21px;
        flex-wrap: nowrap;
      }

      & > img {
        width: 16px;
        height: 16px;
        margin-top: -2px;
        margin-right: 6px;
        border-radius: 4px;
      }
      & > strong {
        margin-right: 10px;
      }
      .tx-address {
        color: $text;
        font-size: 13px;
        margin-right: 10px;
        align-self: flex-end;
        word-break: break-word;
        @include media-up(md) {
          font-size: 17px;
        }
      }
      .tx-address-actions {
        display: inline-flex;
        align-items: center;
        .tx-icon {
          color: $text;
          font-size: 17px;
          width: 28px;
          height: 28px;
          margin-right: 5px;
          background: rgba(119, 131, 143, 0.1);
          border-color: transparent;
          border-radius: 50%;
          position: relative;
          cursor: pointer;
          svg {
            width: 44%;
            height: 44%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &:hover {
            color: #fff;
            background: #77838f;
            box-shadow: 0 4px 11px rgb(119 131 143 / 35%);
          }
        }
      }
    }

    div {
      margin-bottom: 0;

      button {
        color: white;
        border-radius: 6px;
        font-size: 11.2px;
        font-weight: 700;
        padding: 4.8px 9.6px;
        background: $primary;

        svg {
          font-weight: bold;
        }
      }
    }

    .ant-btn-primary {
      background: transparent;
      color: transparent;
      border: none;
      outline: none;
      box-shadow: none;

      .anticon-appstore {
        &:hover {
          background: #77838f;

          svg {
            path {
              fill: $secondary;
            }
          }
        }
      }
    }
  }
  .transaction-Dtail-space {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    b {
      font-size: 14px;
      color: $text;
    }

    a {
      color: $primary;
      font-weight: bold;
      margin: 0 4px;
    }

    .transaction-space-text {
      color: $black-color;
      font-weight: normal;
    }
  }
  .transaction-Dtail-main-to {
    padding-bottom: 50px;
    .main-top {
      padding: 0 0 20px;
    }
    .main-center {
      padding: 0 15px;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 20px;

      @media only screen and (min-width: 576px) {
        // padding: 0 45px;
        width: 100%;
      }
    }
    .main-under {
      padding: 0 15px;
      background: $secondary;
      border: 0.5px solid $border-color;
      border-radius: 8px;
      box-shadow: $color-shadow;
      .ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          font-weight: 700;
          color: $primary;
        }
      }
      .ant-tabs-tab {
        font-weight: 700;
        &:hover {
          color: $primary;
        }
      }
      .ant-tabs-ink-bar {
        background: $primary;
      }
      .ant-tabs-content-holder {
        overflow-x: auto;

        .ant-tabs-nav {
          margin-bottom: 0;
          padding: 0 15px;
        }

        .main-under-card {
          .card-content-text {
            display: flex;
            justify-content: space-between;
            color: $text;
            padding: 10px 15px;

            span {
              margin-left: 4px;
              .card-content-text-transactions {
                color: $primary;
                margin: 0 4px;
              }
            }

            .card-content-right {
              background: rgba(119, 131, 143, 0.1);
              border-color: transparent;
              cursor: pointer;
              width: 21px;
              height: 21px;
              border-radius: 4px;

              .ant-dropdown-trigger {
                color: $text;

                svg {
                  width: 11px;
                  height: 12px;
                  // margin-top: 5px;
                }
              }

              &:hover {
                color: $secondary;
                background: #77838f;
                box-shadow: 0 4px 11px rgb(119 131 143 / 35%);

                path {
                  fill: white;
                }
              }
            }
          }

          .card-content-table {
            &::-webkit-scrollbar {
              height: 2px;
            }

            overflow-x: auto;
          }

          .card-content-footer {
            .content-footer-text {
              text-align: right;
              margin: 15px;

              .content-footer-text-right {
                font-size: 11.2px;

                a {
                  color: $primary;
                  margin-left: 4px;
                  font-weight: 600;
                }
              }
            }
          }

          .ant-pagination {
            display: none;
          }

          .ant-table-cell {
            vertical-align: top;
          }

          .card-content-text-event {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $text;

            .card-content-text-event-text-span {
              font-size: 11px;
              color: $text;

              a {
                color: $primary;
              }
            }
          }

          .card-content-right-event {
            width: 28px;
            height: 28px;
            cursor: pointer;
            border-radius: 4px;
            background: $primary;
            position: relative;

            svg {
              position: absolute;
              width: 12px;
              font-weight: bold;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              path {
                fill: $secondary;
              }
            }
          }
        }

        .analytics-div {
          padding: 20px 0;
        }

        .comments-div {
          padding: 10px;
          color: $black-color;
        }
      }
    }
  }
}

.ant-dropdown-menu {
  width: 220px !important;

  .ant-dropdown-menu-item {
    border: none !important;

    a {
      display: flex;
      align-items: center;
      font-size: 12.25px;
      // padding: 6px 24px;
      color: $text;

      sup {
        margin-left: 4px;
        color: $secondary;
        background: $text;
        padding: 2px 4px;
        border-radius: 4px;
      }
    }
  }
}

.ant-dropdown-menu {
  width: 220px !important;
  padding: 10px;
  .ant-dropdown-menu-item {
    border: none !important;

    a {
      // display: flex;
      // align-items: center;
      font-size: 12.25px;
      // padding: 6px 24px;
      color: $text;

      svg {
        width: 12px;
        height: 12px;
        margin-right: 4px !important;

        path {
          fill: $text;
        }
      }

      &:hover {
        color: $primary;

        svg {
          width: 12px;
          height: 12px;
          margin-right: 4px !important;

          path {
            fill: $primary;
          }
        }
      }
    }

    input {
      box-shadow: 0 0 25px rgb(130 71 229 / 10%);
      border-color: rgba(130, 71, 229, 0.5);
    }
  }
}

.overview-token {
  width: fit-content !important;

  .ant-dropdown-menu-item {
    border: none !important;

    .ant-table-thead {
      .ant-table-column-sorters {
        display: flex;
        padding: 4px 16px;
        color: $black-color;
        font-size: 12px;
        justify-content: space-between;
        background-color: rgba(231, 234, 243, 0.5);
      }
    }

    .ant-table-cell {
      padding: 4px 8px;

      img {
        width: 12px;
        height: 12px;
        margin-right: 4px;
      }

      span {
        font-size: 12px;
      }
    }

    .ant-table-cell-content {
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      div:first-child {
        text-align: left;
      }
      div:last-child {
        text-align: right;
      }
      img {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 4px;
      }

      &:hover {
        color: $secondary;
        background-color: $primary;
        border-radius: 0.25rem;

        .detailt-token-table {
          color: $secondary;
        }
      }
    }

    span {
      // display: inline-block;
    }

    .ant-table {
      padding: 0;
    }

    .detailt-token-table {
      color: $text;
      display: block;
    }

    .ant-table-pagination-right {
      display: none;
    }
  }
}

.modal-search-event {
  padding: 10px;
  background: $secondary;
  border-radius: 4px;
}

.ant-dropdown {
  .ant-dropdown-arrow {
    display: none;
  }

  .moreInfo-modal-container {
    left: 100px;
    bottom: 6px;
    width: fit-content;
    padding: 4px;
    text-align: center;
    background: black;
    border-radius: 4px;

    .nonce-modal-conent {
      font-size: 11px;
      color: $secondary;
      text-decoration: none;

      &:hover {
        color: $secondary;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -5px;
      border-bottom: 6px solid transparent;
      border-left: 10px solid rgb(23, 23, 24);
    }

    &::after {
      content: '';
      position: absolute;
      left: calc(50% - 10px);
      bottom: -5px;
      border-bottom: 6px solid transparent;
      border-right: 10px solid rgb(23, 23, 24);
    }
  }
}

.ant-modal {
  width: 318px !important;
  height: 318px;
  border-radius: 4px;

  .ant-modal-content {
    .ant-modal-close {
      width: 40px;
      height: 40px;

      span {
        width: 100%;
        height: 100%;
      }
    }

    .ant-modal-header {
      .ant-modal-title {
        font-size: 11px;
      }
    }

    .ant-modal-body {
      text-align: center;
      padding: 16px;
    }

    .ant-modal-footer {
      display: none;
    }
  }
}
