@import 'assets/css/variables.scss';
.table-base-container {
    display: flex;
    flex-direction: column;
    .pagination-bottom {
        margin-left: 75%;
        margin-top: 24px;
        @include media-down(md) {
            margin-left: 60%;
        }
        @include media-down(sm) {
            margin-left: 40%;
        }
        @include media-down(xm) {
            margin-left: 30%;
        }
        @media (max-width: 380px) {
            margin-left: 20%;
        }
    }
    .table-base {
        width: 100%;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
        // @media (min-width: 768px) {
        //     overflow: hidden;
        // }
        .ant-table-container table>thead>tr:first-child th:first-child,
        .ant-table th.ant-table-cell,
        .ant-table-container table>thead>tr:first-child th:last-child {
            //border-bottom: 0.5px solid #3c3a3a;
        }
        .ant-table-tbody>tr>td {
            border-top: 0.5px solid #3c3a3a;
        }
    }
}