*{
    font-family: 'Yantramanav','regular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.forgot-page {
    color: black;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

    &_header {
    text-align: center;
      height: 60px;
      margin-top: 16px;
  
      h1{
        font-weight: 700;
        font-size: 24px;
        line-height: 31.13px;
        color: #418143;
      }
      p{
        font-weight: 500;
        font-size: 16px;
        line-height: 20.75px;
        color: #3C3A3A;
      }
    }
    //form
    //form_header_content 
    .form_header_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &_form{
      
      margin-top: 32px;
      margin-bottom: 144px;
      
  
      .register_header{
        margin-bottom: 32px;
        
    
      
        
        

      }
      
      
  
      &_item {
        font-weight: 500;
        font-size: 16px;
        line-height: 20.75px;
        color: #3C3A3A;
        max-width: 600px;
        
        
  
        &_input {
         
         width: 100%;
         outline: none;
         border: 1px solid #3C3A3A;
         color: #3C3A3A;
         border-radius: 5px;
  
         
        }
       
        
        
      }
      

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
          transition: background-color 5000s ease-in-out 0s;
      }
      input::placeholder{
        font-weight: 400;
        font-size: 14px;
        color: #3C3A3A;
      }
      .btn_forgot{
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        border-radius: 4px;
        background-color: #418143;
        padding: 8px 10px;
        width: 156px;
        height: 37px; 
        margin-bottom:16px ;
        border: none;
      }
      //checked
      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #418143;
        border-color: #418143;
        border-radius: 6px;
        width: 20px;
      }
      .question{
        text-align: center;
  
        p {
          color: #3C3A3A;
          font-size: 14px;
          font-weight: 400;
          line-height: 18.16px;
        }
        
        a{
          color: #418143;
        }
      }
    }
    
    
}

@media(min-width: 768px) {
  .forgot_header{
    width: 600px;
    margin: 0 auto;
  }
  .forgot-page_form_item_input{
    width: 100%;
    
  }
  
}
//ipad
@media(min-width: 500px) and (max-width: 768px) {
  .forgot_header{
    width: 400px;
    margin: 0 auto;
    
  }
  .forgot-page_form_item_input{
    width: 100%;
    
  }
  
}
