@import 'assets/css/variables.scss';
.addr-top-container {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #3C3A3A;
    .address-details {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        h1 {
            font-size: 24px;
            line-height: 31px;
        }
        &_icon {
            display: inline-flex;
            align-items: center;
            gap: 8px;
        }
        .adr-icon {
            color: $text;
            font-size: 17px;
            width: 28px;
            height: 28px;
            //margin-right: 5px;
            //background: rgba(119, 131, 143, 0.1);
            border-color: transparent;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            // svg {
            //     width: 44%;
            //     height: 44%;
            //     position: absolute;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate(-50%, -50%);
            // }
            // &:hover {
            //     color: #fff;
            //     background: #77838f;
            //     box-shadow: 0 4px 11px rgb(119 131 143 / 35%);
            // }
            &.icon-file-text {
                img {
                    width: 17px;
                    height: 17px;
                    color: $text;
                    margin-bottom: 4px;
                }
            }
        }
    }
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    height: 28px;
    .addr-button {
        width: 100px;
        height: 100%;
        border-radius: 4px;
        background: #EEEEEE;
        @media(max-width: 430px) {
            width: auto;
        }
    }
    @media(min-width: 768px) {}
    @media(min-width: 500px) and (max-width: 768px) {}
    @media(max-width: 430px) {
        width: 100%;
    }
    @media(min-width: 380px) {}
}