@import 'assets/css/variables.scss';

.block-tracker {
  max-width: 821px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #000;

  td {
    padding: 16px;
    color: #787a91;

    span {
      align-items: flex-start;
      margin-bottom: 2px;
    }
  }

  td:nth-child(1) {
    display: inline-block;
    vertical-align: top;
    padding-left: 4px;
  }

  td:nth-child(2) {
    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    span:first-child {
      color: #418143;
      font-weight: 500;
      line-height: 18.16px;

      img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        align-items: center;
      }
    }

    span:last-child {
      color: #787a91;
      @include media-down(sm) {
        display: none;
      }
    }
  }

  td:nth-child(3) {
    padding-left: 0;
  }

  td:nth-child(4) {
    text-align: right;
    padding-right: 4px;
  }
}
