@import 'assets/css/variables.scss';

.card-tabs {
  width: 100%;
  border: 1px solid #c1c1c1;
  border-radius: 12px;
  overflow: hidden;

  & > .ant-tabs-nav {
    padding: 0 24px;
    margin: 0;

    @include media-down(sm) {
      padding: 0 8px;

      @include media-down(sm) {
        flex-direction: column;
      }

      .ant-tabs-extra-content {
        @include media-down(sm) {
          justify-content: flex-start;
          width: 100%;
          margin-bottom: 8px;
        }
      }

      .ant-tabs-nav-operations {
        display: none;
      }

      .ant-tabs-nav-wrap::before {
        display: none;
      }

      .ant-tabs-nav-wrap::after {
        display: none;
      }
    }

    // left
    .ant-tabs-tab .ant-tabs-tab-btn {
      color: #3c3a3a;
      font-weight: 700;
      &:hover {
        color: #418143;
      }
    }

    .ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #418143 !important;
    }

    & > .ant-tabs-nav {
      padding: 0 24px;
      margin: 0;

      left .ant-tabs-tab .ant-tabs-tab-btn {
        color: #3c3a3a;
        font-weight: 700;
        &:hover {
          color: #418143;
        }
      }

      // .ant-tabs-tab-active .ant-tabs-tab-btn {
      //   color: #418143;
      // }
    }
  }

  & > .ant-tabs-nav::before {
    border-bottom: 1px solid #c1c1c1;
  }

  & > .ant-tabs-content-holder {
    .ant-tabs-content {
      padding: 16px 24px;

      @include media-down(sm) {
        padding: 16px 8px;
      }
    }
    & > .ant-tabs-content-holder {
      .ant-tabs-content {
        padding: 16px 24px;
      }
    }
    .ant-tabs-ink-bar {
      background: none;
    }
  }

  .ant-tabs-nav-list {
    display: flex;
    flex-flow: row wrap;
    transform: none !important;
  }

  .ant-tabs-tab {
    margin: 0 32px 0 0;
  }
}
