@import 'assets/css/variables.scss';

.home {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: calc(100vh - 386px - var(--menu-height));
  position: relative;

  .bg-dark {
    width: 100%;
    min-height: 270px;
    height: 100%;
    background-color: var(--background-color);
    background-image: url('/images/background/banner.svg');

    .home__body {
      display: flex;
      align-items: center;
      padding: 80px 0 130px;
      justify-content: space-between;

      @include media-up(sm) {
        padding: 80px 0 130px;
      }

      .body-left {
        width: 100%;

        @include media-up(lg) {
          padding-right: 30px;
          width: 60%;
        }

        .body-left-content {
          h1 {
            font-size: 21px;
            color: var(--secondary);
            font-family: Arial, Helvetica, sans-serif;
          }

          .ponsored {
            font-size: 16px;
            margin-top: 12px;

            b {
              font-weight: 600;
            }

            a {
              font-weight: 600;
              color: var(--primary);
            }
          }
        }
      }

      .body-right {
        display: none;
        padding-left: 30px;

        @include media-up(lg) {
          display: block;
        }
      }
    }
  }

  .container-home-bottom {
    z-index: 222;

    .row-card {
      margin-bottom: 20px;
    }

    .home-banner-advert {
      text-align: center;
      padding-bottom: 20px;

      @include media-up(lg) {
        display: none;
      }
    }

    .home-table {
      margin: 0 -8px;
      margin-bottom: 30px;
      min-height: 501px;

      // background: var(--secondary;
      @include media-up(lg) {
        display: flex;
      }

      .wrap-latest {
        width: 100%;
        border-radius: 8px;

        background-color: var(--secondary);
        background-clip: border-box;
        border: 1px solid var(--border-table-color);
        box-shadow: 0 0.5rem 1.2rem var(--color-shadow);

        position: relative;

        display: flex;
        flex-direction: column;

        .table-header {
          border-bottom: 1px solid var(--border-table-color);

          h2 {
            font-size: 14px;
            font-weight: 700;
            padding: 12px;
            color: var(--text-header);
            font-family: Arial, Helvetica, sans-serif;
          }
        }
      }

      .wrap-latest-block {
        margin-top: 10px;

        @include media-up(lg) {
          margin-left: 8px;
          margin-right: 8px;
        }
      }

      .wrap-latest-transactions {
        margin-top: 10px;

        @include media-up(lg) {
          margin-left: 8px;
          margin-right: 8px;
        }
      }

      .table-footer {
        padding: 0 30px 20px;
        width: 100%;

        .btn-soft-primary {
          width: 100%;
          display: block;
          padding: 10px 20px;
          text-align: center;
          color: var(--white-color);
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          background: var(--primary);
          border-top: 1px solid var(--primary);
          border-radius: 8px;
        }
      }
    }
  }
}