.verify {
    width: 80vw;
    min-height: 80vh;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 128px;
    &_top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 8px;
        gap: 16px;
        width: 100%;
        border-bottom: 0.5px solid #0C230C;
        h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            text-align: center;
            margin: 0;
        }
        p {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            /* line-height: 21px; */
            /* identical to box height */
            text-align: center;
            margin: 0;
        }
    }
    &_bot {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 100%;
        .left {
            width: 330px;
            img {
                width: 100%;
                height: 276px;
            }
        }
        .right {
            margin-right: 24px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            /* gap: 24px; */
            width: 936px;
            flex: 3;
            .text-verify {
                display: flex;
                flex-direction: column;
                gap: 24px;
                p {
                    width: 100%;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 21px;
                    /* secondary color */
                    color: #3C3A3A;
                }
                span {
                    font-weight: bold;
                }
            }
            .input-verify {
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 24px;
                width: 100%;
                Form {
                    width: 100%;
                }
                .ant-form {
                    gap: 24px;
                }
                .ant-col {
                    text-align: left;
                }
                .ant-form-item-required::before {
                    content: none;
                }
                .ant-select-arrow {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
                    background-position: calc(100% - .5rem), 100% 0;
                    background-size: 1em 1em;
                    background-repeat: no-repeat;
                }
                .ant-select {
                    height: 34px;
                }
                .ant-select-selector {
                    height: 100%;
                    padding: 2px 30px 8px 16px;
                }
                .ant-select-arrow>span {
                    margin-left: 30px;
                }
                .ant-select-arrow .anticon>svg {
                    display: none
                }
                .checkBox {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    opacity: 0.8;
                    .textGreen {
                        color: #418143;
                    }
                    .ant-checkbox-checked .ant-checkbox-inner {
                        background-color: #418143;
                        border-color: #418143;
                        border-radius: 6px;
                        width: 20px;
                        height: 20px;
                    }
                    .ant-checkbox-wrapper {
                        width: 24px;
                        height: 24px;
                        .ant-checkbox-input {
                            width: 20px;
                            height: 20px;
                        }
                        .ant-checkbox.ant-checkbox-checked {
                            input {
                                background-color: #418143 !important;
                            }
                        }
                    }
                }
                .button-container {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    margin-top: 80px;
                    gap: 32px;
                    justify-content: center;
                    width: 100%;
                    height: 37px;
                    Button {
                        border: none;
                        border-radius: 4px;
                        width: 120px;
                        height: 37px;
                        &.green {
                            background: #418143;
                            color: white;
                        }
                        &.white {
                            background: #EEEEEE;
                            color: black
                        }
                    }
                }
            }
        }
    }
    @media(min-width: 768px) {
        .verify {
            width: 750px;
        }
    }
    @media(min-width: 500px) and (max-width: 768px) {
        .verify {
            width: 570px;
        }
        .left {
            img {
                height: 250px !important;
            }
        }
    }
    @media(max-width: 430px) {
        .verify {
            width: 390px;
            margin: 10px auto;
        }
        .left {
            display: none;
        }
        .right {
            margin-left: 15px;
        }
        .submitVerify_bot {
            margin-bottom: 128px;
        }
    }
    @media(min-width: 380px) {
        .verify {
            width: 320px;
            &_top {
                width: 100%;
                margin: 0 auto;
                h1 {
                    font-size: 30px;
                }
                p {
                    font-size: 17px;
                }
            }
        }
    }
}